@font-face {
  font-family: "Montserrat-bold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Montserrat-Light.ttf") format("ttf");
}
