<div class="pokemon-list">
  {{ range (where .Site.Pages "Section" "pokemon") }}
    {{ range sort .Pages ".Params.entry_number" }}
      {{/* Permalink for detail page */}}
      {{ $permalink := .Permalink }}
      {{ with .Params }}
        {{ $firstType := index .details.types 0 }}
        {{ $TypeOne := index .details.types 0 }}
        {{ $firstStat := index .details.stats 0 }}
        {{ $secondStat := index .details.stats 1 }}
        {{ $thirdStat := index .details.stats 2 }}
          <div class="pokemon-list__item {{ $firstType.name }}">
            <div class="image-container">
              <img class="img" src="{{ .details.images.front_default }}" alt="pokemon image">
            </div>
            <div class="top">
              <div class="intro-text">
                <h1 class="headline ">{{ .name }}</h1>
                <p class="number number__{{ $TypeOne.name }}">#{{ .entry_number }}</p>
              </div>
              <div class="type">
                {{ range .details.types }}
                  <div class="type-background type-background__{{ .name }}">
                    <div class="icon type__{{ .name }}"></div>
                  </div>
                {{ end }}
              </div>
            </div>
            <div class="bottom">
              <div class="entry-box">
                {{ $firstEntry := index .details.text_entries 0 }}
                <p>{{ $firstEntry.text }}</p>
              </div>
              <ul class="stats">
                  <li class="stats__item">
                    <div class="progress">
                      <div class="progress__text">
                        <p>{{ $firstStat.name }}</p>
                        <p class="number__{{ $firstType.name }}">{{ $firstStat.base_stat }}</p>
                      </div>
                      <div class="progress__text">
                        <p>{{ $secondStat.name }}</p>
                        <p class="number__{{ $firstType.name }}">{{ $secondStat.base_stat }}</p>
                      </div>
                      <div class="progress__text">
                        <p>{{ $thirdStat.name }}</p>
                        <p class="number number__{{ $firstType.name }}">{{ $thirdStat.base_stat }}</p>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
            <div class="cta">
              <a href="{{ $permalink | relURL }}" class="link link__{{ $firstType.name }}">details</a>
            </div>
            {{/* <a href="{{ $permalink }}"> Details </a> */}}
          </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
