{{ $homeLink := "/"}}
{{ $firstType := index .Params.details.types 0 }}
<div class="stage detail-{{ $firstType.name }}">
  <div class="header">
    <div class="headline-teaser">
      <a class="stage__back-button" href="{{ $homeLink }}"><img src="/images/arrow.png" alt="arrow to go back"></a>
      <h1 class="title">{{ .Params.name }} #{{ .Params.entry_number }}</h1>
    </div>
    <div class="type">
      {{ $Types := .Params.details.types }}
      {{ range $Types }}
        <div class="type-background type-background__{{ .name }}">
          <div class="icon type__{{ .name }}"></div>
        </div>
      {{ end }}
    </div>
  </div>
  <img class="stage__image" src="{{ .Params.details.images.front_default }}" alt="pokemon image">
</div>
