// Import base scss
@import './base/colors.scss';
@import './base/fonts.scss';

// Import modules
@import './modules/intro-text.scss';
@import './modules/pokemon-details.scss';
@import './modules/pokemon-list.scss';
* {
  box-sizing: border-box;
}

h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.wrapper-list {
  padding: 50px 30px;
  height: 100%;
  width: 100%;

  .link {
    text-decoration: none;
  }
}

@each $type, $color in $typeColors {
  .detail-#{$type}{
    background-color: $color;
  }
}

.wrapper {
  height: 100vh;
  padding: 50px 30px;
  overflow: hidden;

  &__headline {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
  }

  .img {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 270px;
    width: auto;
    z-index: 1;
  }
}
