.intro-text {
  padding: 50px 20px;
  margin-bottom: 40px;
  color: #fff;

  .headline {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 3.5rem;
  }

  .subline {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
  }
}
