.intro-text {
  margin-bottom: 50px;

  .headline {
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3.5rem;
  }

  .subline {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
  }
}
