.pokemon-details {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5vh 30px 0 30px;

  .stage + & {
    margin-top: calc(-35px - 15vw);
  }

  .text-entry {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    line-height: 20px;
    color: rgba($color: #fff, $alpha: 1);
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    background-color: rgba($color: #161616, $alpha: 1);
    border-radius: 10px;
  }

  .info {
    height: calc(50vh - 60px);
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    background-color: rgba($color: #161616, $alpha: 1);
    border-radius: 10px;

    .links {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      text-align: center;

      padding: 20px 30px;

      .link {
        padding: 8px 10px;
        border-radius: 20px;
        color: #fff;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        width: 70px;
        border: none;
        box-shadow: rgba(41, 41, 43, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
        background-color: rgba($color: #161616, $alpha: 1);

        @each $type, $color in $typeColors {
          &__#{$type}.is-active {
            background-color: darken($color, 20%);
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
          }
        }
      }
    }

    .content-container {
      height: 250px;
      position: relative;
      margin-top: 70px;
    }

    .content {
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 0 30px 70px;
      position: absolute;
      bottom: 0;
      left: 0;

      .stats {
        list-style: none;

        &__item {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: rgba($color: #fff, $alpha: 1);
          margin: 8px 0;
          display: block;

          .progress {
            width: 100%;
            height: 50px;
            padding: 10px 0px;

            &__text {
              width: 100%;
              display: flex;
              justify-content: space-between;
            }

            &__bar {
              margin-top: 10px;
              height: 6px;
              width: 100%;
              background-color: #f8f8f8;
              border-radius: 20px;
              overflow: hidden;

              .fill {
                height: 6px;
                @each $type, $color in $typeColors {
                  &__#{$type}.fill {
                    background-color: darken($color, 20%);
                  }
                }
                border-radius: 20px;
                transform: translateX(-100%);
                transition: transform 1s ease-out;
              }
            }
          }
        }
      }

      .moves {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: rgba($color: #000000, $alpha: 0.5);
        margin: 8px 0;
      }

      .text-box {
        height: auto;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
        background-color: rgba($color: #161616, $alpha: 1);
        padding: 10px 20px;
        border-radius: 15px;
        margin-bottom: 20px;
        color: #fff;
        font-family: "Montserrat-Regular";
        font-size: 12px;
      }



      &.is-active {
        opacity: 1;
        visibility: visible;
        .stats__item .progress__bar .fill {
          transform: translateX(var(--base-stat));
          transition: transform 1s ease-out;
        }
      }
    }
  }
}
